
//vars
$orange: #F89D33
$blue: #426FA8
$fontSize: 16px // Body Font Size
$textColor: #4A4A4A // Text Color
$headColor: #000 // h2
$headDescColor: #212121 //h3
$lineHeight: 1.65 // Document Line Height
$font: fira, sans-serif // main Font Family
$systemFont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('fira', normal, 400, '../fonts/FiraSans-Regular.woff2')
@include font('fira', normal, 500, '../fonts/FiraSans-Medium.woff2')
@include font('fira', normal, 600, '../fonts/FiraSans-SemiBold.woff2')
@include font('fira', normal, 700, '../fonts/FiraSans-Bold.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $orange
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $font
	font-size: $fontSize
	line-height: $lineHeight
	color: $textColor
	min-width: 320px
	position: relative
	overflow-x: hidden
.bg
	background-color: #F8F8F8
	max-width: 100%
.bg-blue
	background-color: $blue
.container
	max-width: 1600px
	margin: 0 auto
h2
	color: $headColor
	font-weight: 600
	font-size: 2.5em
	position: relative
	&:after
		content: ''
		height: 2px
		width: 51px
		background: $orange
		position: absolute
		right: 30%
		top: 50%
h3
	color: $headDescColor
	font-weight: 500
	font-size: 1.3em
a
	color: $headDescColor
	text-decoration: none
	font-weight: 500
.button
	border-radius: 3px
	background: $orange
	border: 0
	padding: 8px 23px
	color: white
	font-weight: 600
	font-size: 0.9em
	transition: .5s ease

/* navbar */

.brand
	padding-left: 20px
	line-height: 70px
	text-transform: uppercase
	font-size: 1.4em
.brand a img
	max-height: 70px
nav ul
	list-style: none
	margin: 0
	padding: 0
	display: flex
nav ul li
	position: relative
nav ul li a,
nav ul li a:visited
	display: block
	padding: 0 20px
	line-height: 70px
	color: black
	text-decoration: none
nav ul li a:hover,
nav ul li a:visited:hover
	background: #2ab1ce
	color: #ffffff
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after
	padding-left: 4px
	content: ' ▾'
nav ul li ul li
	min-width: 190px
nav ul li ul li a
	padding: 15px
	line-height: 20px
.nav-dropdown
	position: absolute
	display: none
	z-index: 1
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15)
.nav-mobile
	display: none
	position: absolute
	top: 0
	right: 0
	background: #262626
	height: 70px
	width: 70px
.block-title
    h2
      width: 40%
      text-align: center
      &:after
        transform: rotate(270deg)
        left: 35%
        top: 180%

.flip-card
	width: 420px
	height: 250px
	perspective: 1000px
	margin: 10px
	cursor: pointer
	&-inner
		position: relative
		width: 100%
		height: 100%
		text-align: center
		transition: transform 0.6s
		transform-style: preserve-3d
		background-color: white
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
	&:hover &-inner
  		transform: rotateY(180deg)
	&-front, &-back
  		position: absolute
  		width: 100%
  		height: 100%
  		backface-visibility: hidden
	&-front
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
  		color: black
		&-img
			width: 104px
			height: 104px
			background: #F8F8F8
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
	span
		font-size: 1.1em
		color: #1F1F1F
		padding: 0 22px
		font-weight: 500
		margin-top: 15px
		line-height: 27px
	&-back
		transform: rotateY(180deg)
		display: flex
		justify-content: center
		align-items: center
		ul
			list-style-image: url(../images/dist/check.svg)
			text-align: left
			line-height: 28px
		p
			text-align: left
			padding: 30px
.collapsible
	background-color: $orange
	color: white
	cursor: pointer
	padding: 5px
	width: 100%
	border: none
	outline: none
	font-size: 1.1em
	text-transform: uppercase
	text-align: center
	border-radius: 3px
	.active, &:hover
		filter: brightness(120%)
	&:after
		content: url(../images/dist/arrow-white.svg)
		float: right
		margin-right: 15px
		transform: rotate(180deg)
		transition: .5s ease
.active:after
	transform: rotate(360deg)
.content
	max-height: 0
	overflow: hidden
	transition: max-height 0.5s ease-out
	background-color: #F8F8F8
label
	font-size: 1.1em
	margin-bottom: 10px
input, select
	height: 48px
	background: #FFFFFF
	border-width: 0
input[type="file"]
	display: none
input[type="checkbox"]
	width: 20px
select:focus-visible
	outline: 0
.mfp-bottom-bar
	margin-top: -90px
	background-color: white
.mfp-title
	height: 77px
.mfp-title, .mfp-counter
	color: #000
	padding: 20px
.mfp-arrow
	opacity: 1
button.mfp-close, button.mfp-arrow
	height: 70px !important
.mfp-arrow-left
	background: url('../images/dist/gallery-arrow-left.svg') no-Repeat top left !important
	width: 70px
	height: 50px
.mfp-arrow-right
	background: url('../images/dist/gallery-arrow-right.svg') no-Repeat top right !important
	width: 70px
	height: 50px
.mfp-arrow-left::before,
.mfp-arrow-right::before
	display: none
	content: ''
.mfp-arrow-left::after,
.mfp-arrow-right::after
	display: none
	content: ''
.inline-popup
	position: relative
	background: #F8F8F8
	width: auto
	max-width: 950px
	margin: 20px auto
.modal-title
	height: 85px
	background: #FFFFFF
	padding: 24px 45px
	font-size: 1.6em
	font-weight: 500
.modal-body
	padding: 37px 70px 70px 40px
	span
		font-size: 1.3em
		font-weight: bold